/* 
#mb.feedback {
	padding: 20px;
	margin: auto 0;
	background-position: top left;
	width: 480px;
}
*/

#mb FORM.feedback {
	line-height: 16px;
	background-color: #ededed;
	border: 1px solid #ccc;
	padding: 0 10px 10px 10px;
	height: 1%;
}

#mb FORM.feedback LABEL { 
	/* width: 230px; 
	float: left; 
	clear: right; 
	margin: 10px 0; 
	*/
	font-size: 14px;
	display: block;
	color: #000;
	margin-top: 10px;
	margin-bottom: 5px;
}

/*
#mb.feedback INPUT,
#mb.feedback SELECT,
#mb.feedback TEXTAREA { width: 100px; float: left; margin: 10px 0;}
*/

#mb FORM.feedback TEXTAREA { height: 8em; width: 430px;}
