#mb TABLE.signup {
	width: 500px;
	margin: 0 auto;
	background: #EDEDED;
	padding: 10px;
	border: 1px solid #CCC;
	margin-bottom: 20px;
}

#mb signup TD, #mb .signup TH {
	padding-bottom: 5px;
}

#mb .signup TH { 
	text-align: left;
	color: #666;
	font-weight: normal; 
	padding-right: 10px;
}

#mb .signup LABEL {
	margin-right: 5px;
}

#mb .signup h2 {
    color: #f54307;
}

#mb .button {
	/*
	background-color: #d0ffac;
	border: 1px solid #4baf00;
	*/
	background: url(../_images/buttonPromo.jpg) no-repeat;
	width: 324px;
	height: 50px;
	padding: 25px 10px 10px 10px;
	margin-bottom: 20px;
}
#mobile .button {
	background: url(../_images/buttonPromo.gif) no-repeat;
	width: 200px;
	height: 40px;
	padding: 10px;
	margin-left: 60px;
	margin-bottom: 20px;
}
#mb .button A {
	color: #fff;
	display: block;
	text-align: center;
}

#mb .button A:hover {
	text-decoration: none;
	color: #CCC;
}